html {
  height: 100% !important;
  background: #000000 !important;
  color: #ffffff !important;
}

html:not(.dark) > .sb-show-main {
  background: #ffffff !important;
  color: #000000 !important;
}

.dark > .sb-main-padded {
  padding: 0;
}

.dark > .sb-show-main > #storybook-root {
  padding: 1rem;
  background: #000000 !important;
  color: #ffffff;
}

.sb-show-main.sb-main-padded {
  height: 100% !important;
}

#storybook-root {
  height: 100%;
}

/* Docs are not configured for dark mode */
#storybook-docs {
  background: #ffffff;
  color: #000000;
}
